[Unit]
Description=GPS Time Synchronisation Service
After=gpsd.service
Requires=gpsd.service

[Service]
Type=simple
ExecStart=ROOT/gps/gps-sync.py

[Install]
WantedBy=multi-user.target
