[Unit]
Description=GPS Time Synchronisation Service
After=gpsd.service
Requires=gpsd.service

[Service]
Type=simple
ExecStart=ROOT/code/my-gps.py

[Install]
WantedBy=multi-user.target
